<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min-4.3.1/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/home/home.css">
<script type="text/javascript" src="js/home/home.js"></script>
<script type="text/javascript" src="js/global.js"></script>
<script type="text/javascript" src="js/jquery/jquery-3.4.1.js"></script>
</head>
<body>
	<span id="newheader"></span>
	<span th:replace="header"></span>
	<div class="container-login100" id="main-container">
		
	</div>
</body>
</html>