<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Home</title>
<link rel="stylesheet" type="text/css" href="css/bootstrap.min-4.3.1/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="css/main.css">
<link rel="stylesheet" type="text/css" href="css/home/home.css">
<script type="text/javascript" src="js/home/home.js"></script>
</head>
<body>
	<div th:replace="header"></div>
	<div class="container-login100" id="main-container">
		<div class="col-md-3">
			<a href="searchpage?gender=f"><img src="images/bride.jpg" alt="Avatar"
				class="avtar" ></a>
		</div>
		<div class="col-md-3">
			<a href="searchpage?gender=m"><img src="images/groom.jpg" alt="Avatar"
				class="avtar" ></a>
		</div>
	</div>
</body>
</html>