<head>
<style>
table {
	padding-left: 500px;
}

th {
	color: red;
	width: 25%;
}
</style>
</head>
<body>
	<div>
		<center>
			<h2>Bio data</h2>
		</center>
		<table style="width: 100%; padding-left: 500px;">
			<tr>
				<th>Name</th>
				<td><span id="firstName_mdl">abhinav</span> <span
					id="lastName_mdl">khoti</span></td>
			</tr>
			<tr>
				<th>Contact Number</th>
				<td id="contactNumber_mdl">8989431769</td>
			</tr>
			<tr>
				<th>Email id</th>
				<td id="emailId_mdl">ab9khoti@gmail.com</td>
			</tr>
			<tr>
				<th>Height</th>
				<td id="height_mdl">5.4</td>
			</tr>
			<tr>
				<th>Date of Birth</th>
				<td id="dob_mdl">1992-04-02</td>
			</tr>
			<tr>
				<th>Gender</th>
				<td id="gender_mdl">M</td>
			</tr>
			<tr>
				<th>Colour</th>
				<td id="colour_mdl">colour</td>
			</tr>
			<tr>
				<th>Caste</th>
				<td id="caste_mdl">banaya</td>
			</tr>
			<tr>
				<th>Birth place</th>
				<td id="placeOfBirth_mdl">mundi</td>
			</tr>
			<tr>
				<th>Birth time</th>
				<td id="time_mdl">21:09</td>
			</tr>
			<tr>
				<th>Gotra</th>
				<td id="gotra_mdl">1</td>
			</tr>
			<tr>
				<th>Current Address</th>
				<td id="currentAddress_mdl">pune mumbai</td>
			</tr>
			<tr>
				<th>Parmanent Address</th>
				<td id="permanentAddress_mdl">khandwa</td>
			</tr>
			<tr>
				<th>Education</th>
				<td id="highestEducation_mdl">BE(CS)</td>
			</tr>
			<tr>
				<th>Occupation</th>
				<td id="occupation_mdl">hbmhv</td>
			</tr>
			<tr>
				<th>Family Details</th>
				<td id="familyDetails_mdl">ok</td>
			</tr>
		</table>

	</div>
	<div>
		<img
			src=D:/workspace_spring/BisaKhadayate/static/userpersonalimage/1/abhinavkhoti/groom.jpg /><br />
	</div>
</body>